.achievementsSection {
  max-width:1200px;
  margin:auto;
  padding: 110px 8%;
}

.achievementsTitle {
    color: var(--foreground);
    margin-bottom: 2rem;
}
.achievementsSubTitle{
    color: var(--text);
}
.achievementsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
.achievementCard {
  position: relative;
  overflow: hidden;
  color: var(--text);
  background: var(--card);
  border-radius: 16px;
  padding: 32px;
  transition: .3s;
}
.achievementCard:hover {
    transform: translateY(-6px);
    background-color: var(--card-hover);
  border: 1px solid var(--accent);
}
.achievementsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.achievementsInfo h3{
    color: var(--foreground);
}
.achievementsInfo h3,
.achievementsInfo p{
  text-align: center;
}
.achievementsInfo svg {
    font-size: 3rem;
    color: var(--accent);
}




@media (max-width: 768px) {
  .achievementsGrid {
    grid-template-columns: 1fr;
  }

  .achievementCard {
    max-width: 100%;
  }
  .achievementCard:hover
   {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .achievementsTitle {
    font-size: 2rem;
  }

}