.contactSection {
    padding: 80px 10%;
}
.contactTitle{
    color: var(--foreground);
    margin-bottom: 2rem;
}
.contactSubTitle{
    color: var(--text);
}
.contactButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3rem;
  justify-content: space-evenly;
  text-align: center;
}
.contactButton{
    color: var(--foreground);
}
.contactButton:hover{
    color: var(--accent);
}