@import "tailwindcss";

:root { 
  --background: #0A192F; 
  --foreground: #CCD6F6; 
  --text: #8791AF; 
  --shadow: #233554; 

  --accent: #64FFDA; 
  --accent-hover: #133040; 
  
  --card: #112240; 
  --card-hover: #233554; 
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-body);
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
};
h1{
  font-size: clamp(3.5rem,6vw,5rem);
  line-height: 1.;
}
h2{
  font-size: clamp(2.2rem,4vw,3rem);
}
h3{
  font-size: clamp(1.6rem,3vw,2rem);
}
p{
  font-size: 1rem;
  line-height: 1.8em;
}

.header {
  border-bottom: 1px solid var(--shadow);
  color: var(--foreground);
  position: relative;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 10%;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--foreground);
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn{
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.btn:hover{
  color: var(--accent);
}

.header-right {
  display: flex;
  gap: 1.5rem;
}
.menuButton{
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
}
.nav{
  display: block;
}


@media (max-width: 768px) {

  .header-right{
    display: none;
  }
  
  .menuButton{
    display: block;
  }
  .nav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--background);
    padding: 2rem;
  }
   .navOpen {
        display: block;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .header-right {
        display: none;
    }
}